<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Admin Detail</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h2>Payment Detail</h2>
    <div th:text="${payment.id}"></div>
    <div th:text="${payment.method}"></div>
    <div th:text="${payment.status}"></div>
    <form th:action="@{/payment/admin/set-status/{id}(id=${payment.id})}" method="post">
        <button id="acceptButton" class="btn btn-success" name="status" value="SUCCESS" type="submit">Accept</button>
        <button id="rejectButton" class="btn btn-danger" name="status" value="REJECTED" type="submit">Reject</button>
    </form>
</div>
</body>
</html>